.App {
  font-family: sans-serif;
  text-align: center;
}
autoRight {
  margin-right: auto;
}
.box {
  width: 40%;
  height: 80%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 30%;
}
.ppHeaders {
  border-radius: 50%;
  cursor: pointer;
}
.ppHeaders:hover {
  filter: brightness(95%);
}
container {
  left:50px;
  position:relative;
}
.box2 {
  width: 40%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 30%;
}
.button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}
.button:hover {
  background-color: #00a2ff;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}

.button1 {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
}
.button1 > img {
  margin-left: 0;
}
.button2 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  margin-left:60%;
  margin-right:10%;
  margin-bottom: 0px;
}
.button2:hover {
  background-color: #00a2ff;
}
.button3 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 80px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 0px;
}
.button3:hover {
  background-color: #00a2ff;
}
.button4 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 0px;
  position: relative;
  left:850px;
  top:30px;
  margin:-150px;
}
.button4:hover {
  background-color: #00a2ff;
}
Center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 600px;
  position: relative;
}
.container2 {
  left:250px;
  position:relative;
  display: flex;
  font-size: 12px;
  text-align: left;
}
.container3 {
  display: block;
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}
.fixedwrapper {
  position: relative;
  width: 200px;
  height: 200px;
}
input[type="checkbox"] {
  cursor: pointer;
}
input[type=text1], input[type=password] {
  display:block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  box-sizing: border-box;
  border: 1px solid rgb(0, 110, 255);
  outline: none;
  left: 50%;
}
loginsetup {
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  height: 150px;
  text-align: center;
  margin: 0%;
  width:100%;
  position:sticky;
}
.button1 > img {
  position: relative;
  left: 15px;
}
nav2 {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  height: 100px;
  width:100%;
  text-align: center;
  margin: 0%;
  position:sticky;
}
nav2 > h2 {
  margin-left: auto;
  margin-right: auto;
}
nav > img {
  margin-right: 20px;
}
.rememberme {
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 15px;
  text-align: start;
}
/* Spacing */
.spacing {
  width: 1px;
  height: 1px;
  margin-bottom: 10px;
  position: relative;
}
.spacing1 {
  width: 1px;
  height: 1px;
  margin-bottom: 200px;
  position: relative;
}
.spacing2 {
  height: 0px;
  margin-bottom: 100px;
  position: relative;
}
.spacing3 {
  height: 0px;
  margin-bottom: 63px;
  position: relative;
}
.spacing4 {
  height: 0px;
  margin-bottom: 50px;
  position: relative;
}
.spacing5 {
  height: 0px;
  margin-bottom: 10px;
  position: relative;
}
.spacing6 {
  height: 0px;
  margin-bottom: 25px;
  position: relative;
}
.spacing7 {
  margin-bottom: 130px;
}
/* Team_management style */
.container2 {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}
.field {
  background: url(./assets/field.png);
  width:900px;
  height: 955px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.fieldcon {
  width: 76%;
  height: 700px;
  align-items: center;
  text-align: center;
  left: 12%;
  position:relative;
}
.point {
  width: 200px;
  height: 200px;
  border: 2px solid #1E90FF;
  text-align: center;
  align-items: center;
  position: relative;
}
.point2 {
  width: 200px;
  height: 220px;
  border: 2px solid #1E90FF;
  text-align: center;
  align-items: center;
  position: relative;
  font-family:sans-serif;
}
.point2 > img {
  width: 150px;
  height: 150px;
}
.point2 > p {
  font-size: 12px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}
.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid #1E90FF;;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position:relative;
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #1E90FF;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: 1000px;
  left: 1000px;
  right: 0px;
  bottom: 0px;
  border: 2px solid blue;
  border-radius: inherit;
}
.line {
  display: flex;
  align-items: center;
  top: 20px;
  position:relative;
  font-size: 12px;
  justify-content: center;
  width:100%;
}
.line > label {
  display:grid;
  margin-top: 0%;
  white-space: pre-line;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  position:relative;
  font-size: 12px;
  text-decoration: solid blue;
}
.line2 {
  display: flex;
  align-items: center;
  top: 20px;
  position:relative;
  font-size: 20px;
  justify-content: space-between;
}
.line2 > label {
  display:grid;
  margin-top: 0%;
  white-space: pre-line;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  position:relative;
  font-size: 16px;
  text-decoration: solid blue;
}
.bench > h5 {
  position: sticky;
  left: 0px;
  margin-bottom: 10px;
}
.bench {
  width: 94%;
  background-color: rgba(0, 253, 0, .5);
  height: 280px;
  align-items: center;
  text-align: center;
  border: 3px dashed blue;
  box-sizing: border-box;
  left: 3%;
  position:relative;
  contain:content;
}

/* Jersey */
.trans {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2px;
  margin-bottom:1px;
  position:relative;
}
.clicked {
  opacity: 50%;
}
.clicked:hover {
  opacity:25%;
}

/*Profile*/
.container4 {
  width:100%;
  height:100%;
}
.container5 {
  width:100%;
  min-height:100vh;
  background-color: #ecebeb;
}
.container6 {
  min-height: 100vh;
  background-color: #ecebeb;
  display: flex;
}
.profile {
  height:650px;
  width:1400px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(195, 195, 195);
}
.backgroundProfile {
  height: 450px;
  background-color: powderblue;
  background:linear-gradient(powderblue, powderblue, rgb(211, 211, 211));
  background-repeat: no-repeat;
  overflow:hidden;
  object-fit: contain;
  place-items: start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.backgroundProfile > img {
  width:1400px;
  height: auto;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  display:inline-block;
  object-fit: contain;
}
.backgroundProfileBlur {
  background:linear-gradient(powderblue, rgb(211, 211, 211));
  filter: blur(55px);
  width:100%;
  height: 350px;
  overflow:hidden;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:-1;
}
.backgroundProfileBlur > img {
  position:relative;
  min-width: 100%;
  min-height: 100%;
  mask-image: linear-gradient(to bottom, powderblue, transparent);
}
.profilePicture {
  left:120px;
  top:-60px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
}
.status {
  display:flex;
}
.camerabutton {
  color:transparent;
  background-color: #dbdbdb;
  padding: 14px;
  background-image:url(./assets/camera\ icon.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  width:18px;
  height:18px;
  top:100px;
  left:60px;
  border:none;
  cursor: pointer;
}
.camerabutton:hover {
  background-color: #c5c5c5;
}
.name {
  position:relative;
  left:-154px;
  margin-right: auto;
  text-align: start;
}
.name > input {
  width:400px;
}
.name > input:focus::placeholder {
  color: red;
} 
.name > input::placeholder {
  color: red;
  text-align: right;
} 
input[type="file"] {
  content: none;
  visibility: hidden;
}
.wrapback {
  width: 160px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  top:-50px;
  left:-50px;
  border-radius: 5px;
  z-index: 5;
}
.wrapback:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapback > input[type="file"] {
  width: 160px;
  height: 38px;
  top:-38px;
  position:relative;
  color:transparent;
  cursor:pointer;
}
.editbackground {
  display: flex;
  font-size: 14px;
  background-image: url(./assets/edit\ icon.png);
  filter: brightness(0) invert(1);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding: 8px;
  width: 160px;
  height: 20px;
  border-radius: 8px;
  border: none;
  text-align: right;
  cursor: pointer;
}
.editbackground > h4 {
  position: relative;
  left:28px;
  top: -16px;
  color:white;
}
.editbacground:hover {
  background-color: #c5c5c5;
}
.editProfile {
  display: flex;
  font-size: 14px;
  background-image: url(./assets/edit\ icon.png);
  background-color: #dbdbdb;
  background-size: 17%;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding: 8px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: none;
  text-align: right;
  cursor: pointer;
  left: 900px;
  position: relative;
}
.editProfile > h4 {
  position: relative;
  left:28px;
  top: -16px;
}
.editProfile:hover {
  background-color: #c5c5c5;
}
::-webkit-file-upload-button {
  display: none;
}
.followers {
  display: flex;
  position: relative;
  left:-620px;
  top:100px;
  margin-right:10px;
}
.followers >h3 {
  margin-right: 4px;
}
.bodycon {
  margin-top: 15px;
  width: 1300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.team {
  width: 554px;
  display: block;
  position:sticky;
  top:0px;
  bottom:0px;
}
.stats {
  height:335px;
  border-radius: 5px;
  background-color: white;
  text-align: start;
  margin-bottom: 15px;
  position:sticky;
  top:-15px;
}
.stats > h2 {
  position: relative;
  top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.stats > h3 {
  margin-left:15px;
  margin-bottom: 3px;;
}
.stats > h4 {
  background-color: #ecebeb;
  margin-left:15px;
  margin-top:0px;
  width: 200px;
  height:20px;
  border-radius: 5px;
  text-align: center;
}
.myteam {
  top: -133.3px;
  left:305px;
  position: relative;
  height:200px;
  width:200px;
}
.myteam > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  left:-16px;
}
.lineup {
  height:615px;
  border-radius: 5px;
  background-color: white;
  text-align: start;
  margin-bottom: 15px;
  position:sticky;
  top:355px;
}
.lineup > h2 {
  position: relative;
  top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.field2 {
  background: url(./assets/field.png);
  width:524px;
  height: 533.7734px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
}
.trans2 {
  width:10px;
  height:3px;
  margin-right: auto;
  margin-left:auto;
}
.line > img {
  width:60px;
  height:auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top:-20px;
}
label.playername {
  font-size: 10px;
  margin-bottom: 10px;
}
label.playername > img {
  width:70px;
  height:auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.post {
  width: 711px;
  display: block;
  margin-top: 20px;
  margin-left: 15px;
}
.post2 {
  width: 711px;
  display: block;
  margin-top: 20px;
  margin-left: 0;
  margin-right: auto;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.inputPost {
  margin-left: 15px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.profilePicture2 {
  position: relative;
  top: 10px;
  margin-left:10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture2 > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  cursor:pointer;
}

.inputText {
  margin-left:10px;
  margin-right:20px;
  background-color: #d1d1d1;
  border-radius: 20px;
  position: relative;
  top:-34px;
  width:540px;
  padding:10px;
  padding-right: 50px;
  left:50px;
  height:10px;
  border-color: transparent;
  font-size: 15px;
  outline: none;
  display: block;
  resize: none;
  overflow: hidden;
  height:auto;
  font-family:Arial;
}
.topInput {
  border-bottom: 1px solid #d1d1d1;
  width:90%;
  position:relative;
  left: 5%;
  top: -15px;
}

.imgUpload {
  cursor:pointer;
  background-image: url(./assets/image.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 100px 5px;
  size: 100px;
  margin-left: 0%;
  padding-left: 20%;
  padding-right:20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:105px;
  position:relative;
  font-size: 18px;
  text-align: left;
  height:100%;
  margin-bottom: 20px;
  border-right: 1px solid #d1d1d1;
}
.imgUpload:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid black;
  padding-top:9px;
  padding-bottom:9px;

}.schedulePost {
  cursor:pointer;
  background-image: url(./assets/calendar.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 100px 5px;
  size: 100px;
  margin-left: 0%;
  padding-left: 20%;
  padding-right:20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:105px;
  position:relative;
  font-size: 18px;
  text-align: left;
  height:100%;
  margin-bottom: 20px;
  border-left: 1px solid #d1d1d1
}
.schedulePost:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 9px;
  padding-bottom: 9px;
}
.enter {
  background-image: url(./assets/Submit.png);
  border-radius: 5px;
  padding:5px;
  width:20px;
  height:20px;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor:pointer;
  position:relative;
  left:290px;
  top: -63px;
}
.remove > img {
  border-radius: 50%;
  width:12px;
  height:10px;
  background-color: #d1d1d1;
  background-size: cover;
  position:relative;
  left:99px;
  top:-47px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.imgContainer {
  display:flex;
}

.imgContainer > img {
  width:50px;
  height:50px;
  position:relative;
  left:40px;
  top: -40px;
  border:1px solid black;
  object-fit: fill;
}
.enter:hover {
  filter:brightness(90%);
  background-color: #d4d2d2;
}
.submitInput {
  display: flex;
}
.posts {
  background-color: white;
  border-radius: 5px;
  margin-left: 15px;
  text-align: left;
  margin-bottom: 15px;
}
.unamePost {
  position:relative;
  top:-31px;
  left: 60px;
  width: max-content;
  font-size: small;
  font-weight: bold;
}
.unamePost:hover {
  text-decoration: underline 1.5px solid black;
  cursor:pointer;
}
.posts > img {
  width:100%;
  max-height: 750px;
  object-fit: cover;
  margin-top: 0px;
  line-break: auto;
}
.caption {
  margin-right:15px;
  margin-left:15px;
  overflow-wrap: break-word;
  margin-top:0px;
  margin-bottom: 15px;
}
.likebutton {
  height: 20px;
  width: 20px;
  background: transparent;
  position: relative;
  left:25px;
  border-bottom: 2.5px solid black;
  border-right: 2.5px solid black;
  transform: rotate(45deg);
  cursor: pointer;
  margin-bottom:15px;
}
.likebutton:before,
.likebutton:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: transparent;
  border: 2.5px solid transparent;
  transform: rotate(-45deg);
  z-index: -2;
}
.likebutton:before {
  top: -2.5px;
  left: calc(-50% - 2.5px);
  border-top-color: black;
  border-left-color: black;
}
.likebutton:after {
  top: calc(-50% - 2.5px);
  left: -2.5px;
  border-top-color: black;
  border-right-color: black;
}
.likebutton:hover {
  opacity: 55%;
}
.liked {
  border-color: tomato;
  background: tomato;
}
.liked:before {
  border-top-color: tomato;
  border-left-color: tomato;
  background: tomato;
}
.liked:after {
  border-top-color: tomato;
  border-right-color: tomato;
  background: tomato;
}
.posts > h5 {
  margin-left: 15px;
  margin-top: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.time {
  font-size: 10px;
  margin-left: 15px;
  padding-bottom: 15px;
}
/* Transfer */
.field3 {
  background: url(./assets/field.png);
  width:900px;
  height: 830px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.playerTeam > img {
  width:100px;
  height:130px;
  margin-left: auto;
  margin-right: auto;
}
.playerTeam > img:hover {
  opacity:50%;
}
.playerTeam > .clicked:hover {
  opacity:25%;
}
.removePlayer {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:8px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.removePlayer2 {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:60px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.removePlayer3 {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:35px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.transfermarket {
  position:relative;
  left:40px;
  top:168px;
  border: 2px solid #1E90FF;
  padding: 20px;
  height:770px;
  overflow:hidden;
}
.transfermarket > h3 {
  margin-bottom: 20px;
}
.searchPlayer {
  padding:5px;
  width:200px;
  height:30px;
  padding-left: 10px;
  padding-right: 40px;
}
.searchButton {
  position:relative;
  background-image: url(./assets/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:25px;
  height:25px;
  background-color: transparent;
  border: none;
  left:-35px;
  top:8px;
  margin-right: 0;
}
.transferPlayerCon {
  display:block;
  margin-top: 0;
  overflow-y: auto;
  height: 70%;
}
.transferPlayer {
  border: 1.5px solid #1E90FF;
  font-size: 15px;
  text-align: center;
}
.transferPlayer > img {
  height:50px;
  position: relative;
  left:-70px;
  margin-bottom: 0;
  top:20px;
  cursor:pointer;
}
.transferPlayer > h5 {
  margin:0;
  position: relative;
  left:70px;
  top:-33px;
  text-align: left;
}
.transferPlayer > p {
  font-size: 12px;
  position:relative;
  top:-20px;
  left:70px;
  margin:0;
  word-spacing: 40px;
  padding:0;
  text-align: left;
}

.positionTransfer {
  margin-top: 40px;
  background-color: rgb(0, 170, 255);
  text-align: center;
  color: #000000;
  font-weight: 100;
  font-size: 20px;
}
.addTransfer {
  background-color: rgb(37, 182, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  width:100%;
  cursor:pointer;
}
.addTransfer:hover {
  opacity: 70%;
}
.addTransferClicked {
  background-color: rgb(37, 182, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 50%;
  width:100%;
  pointer-events: none;
}
.addTransfer > h3 {
  margin:0;
}
.addTransferClicked > h3 {
  margin:0;
}

/*users */
.name2 {
  position:relative;
  left:150px;
  margin-right: auto;
  text-align: start;
}
.followers2 {
  display: flex;
  position: relative;
  left:-770px;
  top:100px;
  margin-right:10px;
}
.followers2 >h3 {
  margin-right: 4px;
}
.Followed {
  display: flex;
  font-size: 14px;
  background-color: #dbdbdb;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
  left: 280px;
  top: 35px;
  position: relative;
}
.Followed > h4 {
  position: relative;
  text-align: center;
  left:17px;
  top: -10px;
}
.Followed:hover {
  background-color: #c5c5c5;
}
.Follow {
  display: flex;
  font-size: 14px;
  top: 35px;
  background-color: rgb(37, 182, 255);
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  color:white;
  left:280px;
}
.Follow > h4 {
  position: relative;
  text-align: center;
  left:20px;
  top: -10px;
  cursor:pointer;
}
.Follow:hover {
  background-color: rgb(71, 194, 255);
}
.loading {
  position: fixed;
  align-items: center;
  width:100%;
  height: 100%;
  left:0px;
  top:0px;
  background-color: rgba(0,0,0,.6);
  z-index: 100;
}
.centerLoading {
  position: fixed;
  top:50%;
  left:50%;
}
.statistic {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,.6);
  z-index: 5090;
  overflow: hidden;
  text-align: left;
  font-family: arial;
  font-size: 24px;
}

.playerStats {
  width: 50%;
  height: 850px;
  position: relative;
  top: 10vh;
  margin: auto;
  background-color: white;
  background-image: linear-gradient(rgb(0,0,0,.0), rgb(0,0,0,.0), white, white), url(assets/blue\ background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 570px;
}
.playerStats > img {
  width:21%;
  position: relative;
  left: 100px;
  top: 70px;
}
.playerStats > h3 {
  position: relative;
  left:35%;
  text-align: left;
  top:-14%;
}
.playerStats > p {
  position: relative;
  left:35%;
  top:-15.6%;
  font-size: 15px;
  text-align: left;
}
.statsPos {
  position: relative;
  left:35%;
  text-align: left;
  font-size: 13px;
  font-weight: 800;
  color:#00a2ff;
  background-color: blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  top:-12%
}
.statsRank {
  background-color: rgba(255, 255, 255, 0.6);
  width:84%;
  position: relative;
  left: 8%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  border-radius: 5px;
  border: 0.5px solid rgb(199, 199, 199);
  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
  top:-78px;
  overflow-x: auto;
  text-align: center;
  font-size: 11px;
}

.statsColumn {
  border-left: 0.5px solid rgb(199, 199, 199);
  border-right: 0.5px solid rgb(199, 199, 199);
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:418px;
}
.statsColumn > p {
  text-align: center;
  display: block;
  text-align: center;
  font-size: 11px;
  margin-bottom: 1px;
  
}
.statsColumn > h3 {
  margin-top: 8px;
  margin-bottom: 1px;
  font-size: 20px;
}
.gameStats {
  background-color: white;
  font-size: 12px;
  position: relative;
  margin-left: 20px;
  border: 0.5px solid rgb(199, 199, 199);;
  margin-right: 20px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  overflow-y: auto;
  align-items: center;
  top:-30px;
}
.gameStatsTitle {
  position: relative;
  text-align: left;
  font-size: 13px;
  font-weight: 800;
  color:#00a2ff;
  background-color: blue;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 5px;
  max-width: fit-content;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 20px;
  top:-30px;
}
.statisticPlayer {
  position:relative;
  padding:5px;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 0.5px solid rgb(199, 199, 199);;
  color: blue;
  font-size: 14px;
  display: flex;
}
.typeFromRight {
  text-align: right;
  margin-left: auto;
}
.exitStats {
  position: absolute;
  width: 5%;
  height: 30px;
  cursor: pointer;
  left: 95%;
  top: 0px;
}
.changeBench {
  position: relative;
  top:40%;
  left:20%;
  width:80%;
  height:20%;
}
.statscon {
  display:flex;
  overflow: auto;
}
.changeBenchMenu {
  width: 1000px;
  height: 200px;
  position: relative;
  top: 400px;
  margin: auto;
  background-color: white;
  background-image: linear-gradient(rgb(0,0,0,.0), rgb(0,0,0,.0), white, white), url(assets/blue\ background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 570px;
  align-items: center;
}
.optionBench {
  background-color: #00a2ff;
  width:90%;
  margin-left: 5%;
  border: none;
  cursor: pointer;
  height:20%;
  margin-top: 4%;
  font-size: medium;
  font-weight: bolder;
}
.changeBenchMenu > button:hover {
  filter: brightness(90%);
}
.besidePostHome {
  width: 311px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 15px;
}
.homeLeaderboard {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding-left: 15px;
  padding-top: 0.1px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.homeLeaderboard > h3 {
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  margin-right: 15px;
}
.homeLeaderboard > table, th, td, tr{
  border: 1px solid rgb(0, 132, 255);
}
.homeLeaderboard > table {
  margin-top: 10px;
}
.homeLeaderboard > h4 {
  margin-bottom: 0%;
  margin-top: 0%;
}
.textLeaderboard {
  cursor: pointer;
}
.textLeaderboard:hover{
  text-decoration: underline;
}
.searchUser {
  width: 220px;
  margin-left: 15px;
  display: inline-block;
}
.suggestedUser {
  display: block;
  position: relative;
  left:71px;
  height: 126px;
  overflow-y: auto;
}
.suggestedUser > option {
  border-bottom: 1px solid black;
  border-left:1px solid black;
  border-right: 1px solid black;
  width: 220px;
  background-color: white;
  cursor: pointer;
}
.suggestedUser > option:hover {
  background-color: #a7dfff;
}
.post3 {
  width: 811px;
  height: 850px;
  position: relative;
  top: 10vh;
  margin: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 570px;
  border-radius: 5px;
  font-size: large;
  overflow-y: auto;
}
.profilePicture3 {
  position: relative;
  top: 10px;
  margin-left:10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture3 > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  cursor:pointer;
}
.unamePost2 {
  position:relative;
  top:-41px;
  left: 80px;
  width:max-content;
  font-size: medium;
  font-weight: bold;
}
.unamePost2:hover {
  text-decoration: underline 1.5px solid black;
  cursor:pointer;
}
.comment {
  object-fit: contain;
  width:46px;
  height:40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top:-10px;
  cursor: pointer;
  left:40px;
  background-image: url("./assets/Comment.png");
}
.comment:hover {
  opacity: 50%;
}
.post3 > h5 {
  margin-left: 15px;
}
.post3 > img {
  width: 100%;
  height: auto;
}
.replies {
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom:1px solid rgb(222, 222, 222);
  padding-bottom:50px;
}
.inputText2 {
  margin-left:10px;
  margin-right:20px;
  background-color: #d1d1d1;
  border-radius: 20px;
  position: relative;
  top:-34px;
  width:600px;
  padding:10px;
  padding-right: 50px;
  left:50px;
  border-color: transparent;
  font-size: 15px;
  outline: none;
  display: block;
  resize: none;
  overflow: hidden;
  height:auto;
  font-family:Arial;
  height:auto;
  margin-bottom: -50px;
}
.comments {
  margin-left:10px;
  margin-right:20px;
  background-color: #d1d1d1;
  border-radius: 5px;
  position: relative;
  padding:5px;
  padding-right: 10px;
  width: max-content;
  border-color: transparent;
  font-size: 15px;
  outline: none;
  display: block;
  overflow: hidden;
  height:min-content;
  font-family:Arial;
  height:auto;
  max-width: 700px;
  left:60px;
  top:-20px;
  margin-bottom: -40px;
}
.profilePicture4 {
  position: relative;
  margin-left:15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture4 > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  cursor:pointer;
}
.unameComment {
  position: relative;
  left: 70px;
  top:24px;
  cursor: pointer;
  font-size: 14px;
}
.unameComment:hover {
  text-decoration: underline;
}
.loadMore {
  width:100%;
  position: relative;
  background-color: #00a2ff;
  height:50px;
  cursor:pointer;
}
.loadMore:hover {
  filter: brightness(120%);
}
.changeTeam {
  width: 50%;
  height: 700px;
  position: relative;
  top: 10vh;
  margin: auto;
  background-color: white;
  background-image: linear-gradient(rgb(0,0,0,.0), rgb(0,0,0,.0), white, white), url(assets/blue\ background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}
.teamscon{
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  position: relative;
  top:50px;
}
.teams {
  border: 1.5px solid #1E90FF;
  font-size: 15px;
  text-align: center;
}
td[class="teams"] {
  width:400px;
  height:200px;
  cursor: pointer;
}
.teams > img {
  height:130px;
  position: relative;
  top:20px;
  margin-bottom: 0;
  cursor:pointer;
}
.teams > h5 {
  margin:0;
  position: relative;
  text-align: center;
  width:100%;
}
.changeTeamSave {
  border-radius: 5px;
  border: none;  
  width: 10%;
  height: 40px;
  background-color: #00a2ff;
  cursor:pointer;
  color: white;
  top:60px;
  left: 45%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.changeTeamSave:hover {
  filter: brightness(95%);
}
.followCon {
  width: 511px;
  max-height: 550px;
  position: relative;
  top: 20vh;
  margin: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 570px;
  border-radius: 5px;
  font-size: large;
  align-items: center;
  padding-top:10px;
  padding-bottom: 20px;
}
