.App {
  font-family: sans-serif;
  text-align: center;
}
autoRight {
  margin-right: auto;
}
.box {
  width: 40%;
  height: 80%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 30%;
}
container {
  left:50px;
  position:relative;
}
.box2 {
  width: 40%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 30%;
}
.button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}
.button:hover {
  background-color: #00a2ff;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}

.button1 {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
}
.button1 > img {
  margin-left: 0;
}
.button2 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  margin-left:60%;
  margin-right:10%;
  margin-bottom: 0px;
}
.button2:hover {
  background-color: #00a2ff;
}
.button3 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 80px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 0px;
}
.button3:hover {
  background-color: #00a2ff;
}
.button4 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 0px;
  position: relative;
  left:850px;
  top:30px;
  margin:-150px;
}
.button4:hover {
  background-color: #00a2ff;
}
Center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 600px;
  position: relative;
}
.container2 {
  left:250px;
  position:relative;
  display: flex;
  font-size: 12px;
  text-align: left;
}
.container3 {
  display: block;
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}
.fixedwrapper {
  position: relative;
  width: 200px;
  height: 200px;
}
input[type="checkbox"] {
  cursor: pointer;
}
input[type=text1], input[type=password] {
  display:block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  box-sizing: border-box;
  border: 1px solid rgb(0, 110, 255);
  outline: none;
  left: 50%;
}
loginsetup {
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  height: 150px;
  text-align: center;
  margin: 0%;
  width:100%;
}
.button1 > img {
  position: relative;
  left: 15px;
}
nav2 {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  height: 100px;
  width:100%;
  text-align: center;
  margin: 0%;
}
nav2 > h2 {
  margin-left: auto;
  margin-right: auto;
}
nav > img {
  margin-right: 20px;
}
.rememberme {
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 15px;
  text-align: start;
}
/* Spacing */
.spacing {
  width: 1px;
  height: 1px;
  margin-bottom: 10px;
  position: relative;
}
.spacing1 {
  width: 1px;
  height: 1px;
  margin-bottom: 200px;
  position: relative;
}
.spacing2 {
  height: 0px;
  margin-bottom: 100px;
  position: relative;
}
.spacing3 {
  height: 0px;
  margin-bottom: 63px;
  position: relative;
}
.spacing4 {
  height: 0px;
  margin-bottom: 50px;
  position: relative;
}
.spacing5 {
  height: 0px;
  margin-bottom: 10px;
  position: relative;
}
.spacing6 {
  height: 0px;
  margin-bottom: 25px;
  position: relative;
}
.spacing7 {
  margin-bottom: 130px;
}
/* Team_management style */
.container2 {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}
.field {
  background: url(./assets/Field.png);
  width:900px;
  height: 955px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.fieldcon {
  width: 76%;
  height: 700px;
  align-items: center;
  text-align: center;
  left: 12%;
  position:relative;
}
.point {
  width: 200px;
  height: 200px;
  border: 2px solid #1E90FF;
  text-align: center;
  align-items: center;
  position: relative;
}
.point2 {
  width: 200px;
  height: 220px;
  border: 2px solid #1E90FF;
  text-align: center;
  align-items: center;
  position: relative;
  font-family:sans-serif;
}
.point2 > img {
  width: 150px;
  height: 150px;
}
.point2 > p {
  font-size: 12px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}
.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid #1E90FF;;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position:relative;
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #1E90FF;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: 1000px;
  left: 1000px;
  right: 0px;
  bottom: 0px;
  border: 2px solid blue;
  border-radius: inherit;
}
.line {
  display: flex;
  align-items: center;
  top: 20px;
  position:relative;
  font-size: 12px;
  justify-content: center;
  width:100%;
}
.line > label {
  display:grid;
  margin-top: 0%;
  white-space: pre-line;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  position:relative;
  font-size: 12px;
  text-decoration: solid blue;
}
.line2 {
  display: flex;
  align-items: center;
  top: 20px;
  position:relative;
  font-size: 20px;
  justify-content: space-between;
}
.line2 > label {
  display:grid;
  margin-top: 0%;
  white-space: pre-line;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  position:relative;
  font-size: 16px;
  text-decoration: solid blue;
}
.bench > h5 {
  position: sticky;
  left: 0px;
  margin-bottom: 10px;
}
.bench {
  width: 94%;
  background-color: rgba(0, 253, 0, .5);
  height: 280px;
  align-items: center;
  text-align: center;
  border: 3px dashed blue;
  box-sizing: border-box;
  left: 3%;
  position:relative;
  contain:content;
}

/* Jersey */
.trans {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2px;
  margin-bottom:1px;
  position:relative;
}
.clicked {
  opacity: 50%;
}
.clicked:hover {
  opacity:25%;
}

/*Profile*/
.container4 {
  width:100%;
  height:100%;
}
.container5 {
  width:100%;
  min-height:100vh;
  background-color: #ecebeb;
}
.container6 {
  min-height: 100vh;
  background-color: #ecebeb;
}
.profile {
  height:650px;
  width:1400px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(195, 195, 195);
}
.backgroundProfile {
  height: 450px;
  background-color: powderblue;
  background:linear-gradient(powderblue, powderblue, rgb(211, 211, 211));
  background-repeat: no-repeat;
  overflow:hidden;
  object-fit: contain;
  place-items: start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.backgroundProfile > img {
  width:1400px;
  height: auto;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  display:inline-block;
  object-fit: contain;
}
.backgroundProfileBlur {
  background:linear-gradient(powderblue, rgb(211, 211, 211));
  filter: blur(55px);
  width:100%;
  height: 350px;
  overflow:hidden;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:-1;
}
.backgroundProfileBlur > img {
  position:relative;
  min-width: 100%;
  min-height: 100%;
  mask-image: linear-gradient(to bottom, powderblue, transparent);
}
.profilePicture {
  left:120px;
  top:-60px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
}
.status {
  display:flex;
}
.camerabutton {
  color:transparent;
  background-color: #dbdbdb;
  padding: 14px;
  background-image:url(./assets/camera\ icon.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  width:18px;
  height:18px;
  top:100px;
  left:60px;
  border:none;
  cursor: pointer;
}
.camerabutton:hover {
  background-color: #c5c5c5;
}
.name {
  position:relative;
  left:-154px;
  margin-right: auto;
  text-align: start;
}
.name > input {
  width:400px;
}
.name > input:focus::placeholder {
  color: red;
} 
.name > input::placeholder {
  color: red;
  text-align: right;
} 
input[type="file"] {
  content: none;
  visibility: hidden;
}
.wrapback {
  width: 160px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  top:-50px;
  left:-50px;
  border-radius: 5px;
}
.wrapback:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapback > input[type="file"] {
  width: 160px;
  height: 38px;
  top:-38px;
  position:relative;
  color:transparent;
  cursor:pointer;
}
.editbackground {
  display: flex;
  font-size: 14px;
  background-image: url(./assets/edit\ icon.png);
  filter: brightness(0) invert(1);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding: 8px;
  width: 160px;
  height: 20px;
  border-radius: 8px;
  border: none;
  text-align: right;
  cursor: pointer;
}
.editbackground > h4 {
  position: relative;
  left:28px;
  top: -16px;
  color:white;
}
.editbacground:hover {
  background-color: #c5c5c5;
}
.editProfile {
  display: flex;
  font-size: 14px;
  background-image: url(./assets/edit\ icon.png);
  background-color: #dbdbdb;
  background-size: 17%;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding: 8px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: none;
  text-align: right;
  cursor: pointer;
  left: 900px;
  position: relative;
}
.editProfile > h4 {
  position: relative;
  left:28px;
  top: -16px;
}
.editProfile:hover {
  background-color: #c5c5c5;
}
::-webkit-file-upload-button {
  display: none;
}
.followers {
  display: flex;
  position: relative;
  left:-620px;
  top:100px;
  margin-right:10px;
}
.followers >h3 {
  margin-right: 4px;
}
.bodycon {
  margin-top: 15px;
  width: 1300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.team {
  width: 554px;
  display: block;
  position:sticky;
}
.stats {
  height:335px;
  border-radius: 5px;
  background-color: white;
  text-align: start;
  margin-bottom: 15px;
}
.stats > h2 {
  position: relative;
  top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.stats > h3 {
  margin-left:15px;
  margin-bottom: 3px;;
}
.stats > h4 {
  background-color: #ecebeb;
  margin-left:15px;
  margin-top:0px;
  width: 200px;
  height:20px;
  border-radius: 5px;
  text-align: center;
}
.myteam {
  top: -263.3px;
  left:305px;
  position: relative;
  height:200px;
  width:200px;
}
.myteam > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
  left:-16px;
}
.lineup {
  height:615px;
  border-radius: 5px;
  background-color: white;
  text-align: start;
  margin-bottom: 15px;
}
.lineup > h2 {
  position: relative;
  top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.field2 {
  background: url(./assets/Field.png);
  width:524px;
  height: 533.7734px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
}
.trans2 {
  width:10px;
  height:3px;
  margin-right: auto;
  margin-left:auto;
}
.line > img {
  width:60px;
  height:auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top:-20px;
}
label.playername {
  font-size: 10px;
  margin-bottom: 10px;
}
label.playername > img {
  width:70px;
  height:auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.post {
  width: 711px;
  display: block;
  margin-top: 20px;
  margin-left: 15px;
}
.post2 {
  width: 711px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.inputPost {
  margin-left: 15px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.profilePicture2 {
  position: relative;
  top: 10px;
  margin-left:10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow:hidden;
  background-color:white;
  border: 4px solid white;
}
.profilePicture2 > img {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position:relative;
  min-width: 100%;
  min-height: 100%;
  position:relative;
}
.inputText {
  margin-left:10px;
  margin-right:20px;
  background-color: #d1d1d1;
  border-radius: 20px;
  position: relative;
  top:-34px;
  width:540px;
  padding:10px;
  padding-right: 50px;
  left:50px;
  height:10px;
  border-color: transparent;
  font-size: 15px;
  outline: none;
  display: block;
  resize: none;
  overflow: hidden;
  height:auto;
  font-family:Arial;
}
.topInput {
  border-bottom: 1px solid #d1d1d1;
  width:90%;
  position:relative;
  left: 5%;
  top: -15px;
}

.imgUpload {
  cursor:pointer;
  background-image: url(./assets/image.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 100px 5px;
  size: 100px;
  margin-left: 0%;
  padding-left: 20%;
  padding-right:20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:105px;
  position:relative;
  font-size: 18px;
  text-align: left;
  height:100%;
  margin-bottom: 20px;
  border-right: 1px solid #d1d1d1;
}
.imgUpload:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid black;
  padding-top:9px;
  padding-bottom:9px;

}.schedulePost {
  cursor:pointer;
  background-image: url(./assets/calendar.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 100px 5px;
  size: 100px;
  margin-left: 0%;
  padding-left: 20%;
  padding-right:20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:105px;
  position:relative;
  font-size: 18px;
  text-align: left;
  height:100%;
  margin-bottom: 20px;
  border-left: 1px solid #d1d1d1
}
.schedulePost:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 9px;
  padding-bottom: 9px;
}
.enter {
  background-image: url(./assets/Submit.png);
  border-radius: 5px;
  padding:5px;
  width:20px;
  height:20px;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor:pointer;
  position:relative;
  left:290px;
  top: -63px;
}
.remove > img {
  border-radius: 50%;
  width:12px;
  height:10px;
  background-color: #d1d1d1;
  background-size: cover;
  position:relative;
  left:99px;
  top:-47px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.imgContainer {
  display:flex;
}

.imgContainer > img {
  width:50px;
  height:50px;
  position:relative;
  left:40px;
  top: -40px;
  border:1px solid black;
  object-fit: fill;
}
.enter:hover {
  filter:brightness(90%);
  background-color: #d4d2d2;
}
.submitInput {
  display: flex;
}
.posts {
  background-color: white;
  border-radius: 5px;
  margin-left: 15px;
  text-align: left;
  margin-bottom: 15px;
}
.unamePost {
  position:relative;
  top:-31px;
  left: 60px;
  width:100%;
  font-size: small;
  font-weight: bold;
}
.unamePost:hover {
  text-decoration: underline 1.5px solid black;
  cursor:pointer;
}
.posts > img {
  width:100%;
  max-height: 750px;
  object-fit: cover;
  margin-top: 0px;
  line-break: auto;
}
.caption {
  margin-right:15px;
  margin-left:15px;
  overflow-wrap: break-word;
  margin-top:0px;
  margin-bottom: 15px;
}
.likebutton {
  height: 20px;
  width: 20px;
  background: transparent;
  position: relative;
  left:25px;
  border-bottom: 2.5px solid black;
  border-right: 2.5px solid black;
  transform: rotate(45deg);
  cursor: pointer;
  margin-bottom:15px;
}
.likebutton:before,
.likebutton:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: transparent;
  border: 2.5px solid transparent;
  transform: rotate(-45deg);
  z-index: -2;
}
.likebutton:before {
  top: -2.5px;
  left: calc(-50% - 2.5px);
  border-top-color: black;
  border-left-color: black;
}
.likebutton:after {
  top: calc(-50% - 2.5px);
  left: -2.5px;
  border-top-color: black;
  border-right-color: black;
}
.likebutton:hover {
  opacity: 55%;
}
.liked {
  border-color: tomato;
  background: tomato;
}
.liked:before {
  border-top-color: tomato;
  border-left-color: tomato;
  background: tomato;
}
.liked:after {
  border-top-color: tomato;
  border-right-color: tomato;
  background: tomato;
}
.posts > h5 {
  margin-left: 15px;
  margin-top: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.time {
  font-size: 10px;
  margin-left: 15px;
  padding-bottom: 15px;
}
/* Transfer */
.field3 {
  background: url(./assets/Field.png);
  width:900px;
  height: 830px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.playerTeam > img {
  width:100px;
  height:130px;
  margin-left: auto;
  margin-right: auto;
}
.playerTeam > img:hover {
  opacity:50%;
}
.playerTeam > .clicked:hover {
  opacity:25%;
}
.removePlayer {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:8px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.removePlayer2 {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:60px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.removePlayer3 {
  background-image: url(./assets/cancel.png);
  border-radius: 50%;
  border:none;
  width:20px;
  height:20px;
  background-color: white;
  background-size: cover;
  position:relative;
  top:-67px;
  left:35px;
  cursor:pointer;
  margin:0;
  padding:3px;
  z-index: 1;
  object-fit: cover;
}
.transfermarket {
  position:relative;
  left:40px;
  top:168px;
  border: 2px solid #1E90FF;
  padding: 20px;
  height:770px;
  overflow:hidden;
}
.transfermarket > h3 {
  margin-bottom: 20px;
}
.searchPlayer {
  padding:5px;
  width:200px;
  height:30px;
  padding-left: 10px;
  padding-right: 40px;
}
.searchButton {
  position:relative;
  background-image: url(./assets/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  width:25px;
  height:25px;
  background-color: transparent;
  border: none;
  left:-35px;
  top:8px;
  margin-right: 0;
}
.transferPlayerCon {
  display:block;
  margin-top: 0;
  overflow-y: auto;
  height: 70%;
}
.transferPlayer {
  border: 1.5px solid #1E90FF;
  font-size: 15px;
  text-align: center;
}
.transferPlayer > img {
  height:50px;
  position: relative;
  left:-70px;
  margin-bottom: 0;
  top:20px;
}
.transferPlayer > h5 {
  margin:0;
  position: relative;
  left:70px;
  top:-33px;
  text-align: left;
}
.transferPlayer > p {
  font-size: 12px;
  position:relative;
  top:-20px;
  left:70px;
  margin:0;
  word-spacing: 40px;
  padding:0;
  text-align: left;
}

.positionTransfer {
  margin-top: 40px;
  background-color: rgb(0, 170, 255);
  text-align: center;
  color: #000000;
  font-weight: 100;
  font-size: 20px;
}
.addTransfer {
  background-color: rgb(37, 182, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  width:100%;
  cursor:pointer;
}
.addTransfer:hover {
  opacity: 70%;
}
.addTransferClicked {
  background-color: rgb(37, 182, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 50%;
  width:100%;
  pointer-events: none;
}
.addTransfer > h3 {
  margin:0;
}
.addTransferClicked > h3 {
  margin:0;
}
