
.App {
  font-family: sans-serif;
  text-align: center;
}
autoRight {
  margin-right: auto;
}
.box {
  width: 40%;
  height: 80%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 30%;
}
container {
  left:50px;
  position:relative;
}
.box2 {
  width: 40%;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 30%;
}
.button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}
.button:hover {
  background-color: #00a2ff;
  border: none;
  color: white;
  padding: 13px 16px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
}
.bench {
  width: 84%;
  background-color: rgba(0, 253, 0, .5);
  height: 180px;
  align-items: center;
  text-align: center;
  border: 3px dashed blue;
  box-sizing: border-box;
  left: 8%;
  position:relative;
  overflow-x: auto;
}
.button1 {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
}
.button1 > img {
  margin-left: 0;
}
.button2 {
  background-color: #1E90FF;
  border: none;
  color: white;
  size: 20px 100px;
  width: 200px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  margin-left:60%;
  margin-right:10%;
  margin-bottom: 0px;
}
.button2:hover {
  background-color: #00a2ff;
}
.button3 {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:4%;
  margin-bottom:1%;
  position:relative;
}
.trans {
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:4%;
  margin-bottom:1%;
  position:relative;
}
.button3:hover {
  background-color: #fc5151;
}
.button4 {
  background-color: #434343;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  margin-bottom:60 px;
  position:relative;
}
.button4:hover {
  background-color: #7e7e7e;
}
.button5 {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top:4%;
  margin-bottom:1%;
  position:relative;
  
}
.button5:hover {
  background-color: #fc5151;
}
.buttonClick {
  background-color: #ffa7a7;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top:4%;
  margin-bottom:1%;
  position:relative;
}
.bench > h2 {
  position: sticky;
  left: 0px;
}
.buttonClick:hover {
  background-color: #982525;
}
Center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 600px;
  position: relative;
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}
.fixedwrapper {
  position: relative;
  width: 200px;
  height: 200px;
}
input[type="checkbox"] {
  cursor: pointer;
}
input[type=text1], input[type=password] {
  display:block;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  box-sizing: border-box;
  border: 1px solid rgb(0, 110, 255);
  outline: none;
  left: 50%;
}
loginsetup {
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  padding: 25px 25px;
  height: 60px;
  text-align: center;
  margin: 0%;
}
.line {
  display: flex;
  align-items: center;
}
.line > label {
  display:grid;
  margin-top: 0%;
  white-space: pre-line;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 60 px;
  position:relative;
}
nav2 {
  display: flex;
  align-items: center;
  background-color: 	#1E90FF;
  padding: 25px 25px;
  height: 70px;
  text-align: center;
  margin: 0%;
}
nav2 > h2 {
  margin-left: auto;
  margin-right: auto;
}
.rememberme {
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 15px;
  text-align: start;
}
.spacing {
  width: 1px;
  height: 1px;
  margin-bottom: 10px;
  position: relative;
}
.spacing1 {
  width: 1px;
  height: 1px;
  margin-bottom: 200px;
  position: relative;
}
.spacing2 {
  height: 0px;
  margin-bottom: 100px;
  position: relative;
}
.spacing3 {
  height: 0px;
  margin-bottom: 85px;
  position: relative;
}
.spacing4 {
  height: 0px;
  margin-bottom: 50px;
  position: relative;
}
.container2 {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}
.field {
  background: url(./Images/Field.png);
  width:950px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.fieldcon {
  width: 76%;
  height: 700px;
  align-items: center;
  text-align: center;
  left: 12%;
  position:relative;
}
